:root {
  --color-primary: #434343;
  --color-white: #E5DADA;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: Helvetica, sans-serif;
  line-height: 1.7;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 77.75em) {
  html {
    font-size: 56.5%;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 61%;
  }
}
@media (max-width: 58em) {
  html {
    font-size: 59.5%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 31.25em) {
  html {
    font-size: 50.75%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 23.44em) {
  html {
    font-size: 40%;
  }
}

body {
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5px;
}

.header-container {
  height: 93vh;
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../media/images/hero.jpeg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.header-container__half {
  height: 46.5vh;
  background: linear-gradient(0deg, rgba(0, 1, 1, 0.6), rgba(0, 1, 1, 0.6)), url(../media/images/thanos-pal-9OZfTe-y5T4-unsplash.jpg);
  background-position: center center;
}

.main-red, .main-blue {
  background: linear-gradient(to right, rgba(98, 98, 98, 0.2274509804), rgba(98, 98, 98, 0.2274509804)), url(../media/images/thanos-pal-9OZfTe-y5T4-unsplash.jpg);
  background-size: cover;
  border-radius: 30px;
}
.main-blue {
  background: linear-gradient(to right, rgba(98, 98, 98, 0.2274509804), rgba(98, 98, 98, 0.2274509804)), url(../media/images/ralph-ravi-kayden-VmAaEe0vVi0-unsplash.jpg);
  background-size: cover;
}

.footer {
  padding: 5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.fluid-container {
  margin: 5% auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  width: 70vw;
  margin: 2% auto;
  padding: 5% 1%;
}

.tile {
  height: 79rem;
  width: 43.9rem;
  transition: transform 0.3s ease-in-out;
}
.tile-contemporary {
  align-items: center;
  border-radius: 3rem;
  height: 40.4rem;
  width: 95.3rem;
  padding: 3rem;
  background: linear-gradient(0deg, rgb(169, 51, 51), rgb(169, 51, 51));
}
.tile-poster {
  height: 57rem;
  width: 43.9rem;
  margin-bottom: 1%;
}
.tile-poster__red {
  background: linear-gradient(0deg, rgba(205, 17, 17, 0.06), rgba(205, 17, 17, 0.06)), url(../media/images/thanos-pal-9OZfTe-y5T4-unsplash.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.tile-icon {
  width: 26.8rem;
  height: 26.8rem;
  -webkit-clip-path: circle(40% at 50%);
          clip-path: circle(40% at 50%);
}
.tile:hover {
  transform: translateY(-2%);
}
.tile-text {
  width: 60%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
}

.heading-jumbo {
  font-size: 7rem;
  line-height: 1.1;
}
.heading-secondary {
  font-size: 3.5rem;
}
.heading-tertiary {
  font-size: 3rem;
  font-style: italic;
  font-weight: 300;
  line-height: 0.8;
}

.white {
  position: relative;
  z-index: 2;
  color: white;
}

.short-line {
  line-height: 0.2;
}

.dark-text {
  color: var(--color-gray);
}

.paragraph {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 200;
}

.link {
  color: #ed9d93;
}
.link-container {
  text-decoration: none;
  color: currentColor;
}

.center {
  text-align: center;
}

.btn {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 100px;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  background: linear-gradient(145deg, #696969, #585858);
  box-shadow: 8px 8px 16px #3c3c3c, -8px -8px 16px #888888;
}

.m-2 {
  margin: 2rem 0;
}

.mt-5 {
  margin-top: 5rem;
}/*# sourceMappingURL=style.css.map */