

.btn{
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 100px;
    font-size: 2rem;

    transition: all .3s ease-in-out;

    &:hover{
        background-color: var(--color-primary);
        color: var(--color-white) ;
        background: linear-gradient(145deg, #696969, #585858);
        box-shadow:  8px 8px 16px #3c3c3c,
                     -8px -8px 16px #888888;
    }
}

.m-2{margin: 2rem 0;}
.mt-5{margin-top: 5rem;}
